@import "tailwindcss";

:root {
  --primary: #FAFCFD;
  --secondary: #FFFFFF;
  --foreground: #2E4150;
  --foreground-2: #ACACAC;
  --accent: #FA6800;
  --blur: #686868;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);
  --color-foreground-2: var(--foreground-2);
  --color-blur: var(--blur);
  --font-manrope: var(--font-manrope);
  --font-serif: var(--font-serif);
}

@layer base {
  body {
    @apply bg-primary text-foreground font-manrope;
  }
}